@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Italic.ttf);
    font-style: normal;
    font-weight: normal;
}