@import url(font.css);
@import url(keyframes.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}
a, button {
    cursor: pointer;
}
.container {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.btn {
    position: fixed;
    bottom: 30px;
    right: 0;
    background: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 25px;
    transform: rotate(270deg);
    transition: .3s ease-in-out;
    &:hover {
        background: #666666;
        border: none;
    }
}
.header {
    &__nav {
        animation-name: nav_anim;
        animation-play-state: running;
        animation-duration: 1s;
        &-link {
            margin: 25px;
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 40px;

            &-links {
                >a {
                  color: gray;
                  transition: .3s ease-in-out;
                  &:hover {
                    color: #000;
                  }
                  button {
                    height: 30px;
                    width: 90px;
                    background: #000;
                    border: none;
                    color: #fff;
                    transition: .3s ease-in-out;
                    &:hover {
                        background: none;
                        border: 2px solid #000;
                        color: #000;
                    }
                  }
                }
            }
        }
    }
    &-content {
        height: 700px;
        background: url(../img/header_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        >h1 {
            font-size: 55px;
            color: #fff;
        }
        >p {
            font-size: 20px;
            color: #fff;
        }
        >div {
            display: flex;
            gap: 20px;

            >button {
                height: 36px;
                width: 215px;
                background: none;
                border: 2px solid #fff;
                color: #fff;
                transition: .3s ease-in-out;
                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}
.main {
    &-content {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        &-block {
            height: 500px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            >p {
                color: #fff;
                &:nth-of-type(1) {
                    font-size: 35px;
                }
                &:nth-of-type(2) {
                    font-size: 16px;
                }
                &:nth-of-type(3) {
                    font-size: 16px;
                }
            }
            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 125px;
                >a {
                    color: #fff;
                }
            }
            &:nth-of-type(1) {
                background: url(../img/main_bg-1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            &:nth-of-type(2) {
                background: url(../img/main_bg-2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
    &-mascara {
        height: 720px;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        margin-bottom: 10px;
        >h2 {
            color: #fff;
            font-size: 38px;
        }
        >p {
            width: 532px;
            color: #fff;
            font-size: 16px;
        }
    }
    &-info {
        height: 730px;
        background: url(../img/main-info.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 15px;
        >h3 {
            font-size: 38px;
            color: #fff;
        }
        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            >button {
                height: 36px;
                width: 215px;
                background: none;
                color: #fff;
                border: 2px solid #fff;
                transition: .3s ease-in-out;
                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
    &-story {
        height: 430px;
        background: url(../img/main-lucy.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        >p {    
            &:nth-of-type(1) {
                font-size: 35px;
                margin-left: 200px;
            } 
            &:nth-of-type(2) {
                width: 350px;
                font-size: 16px;
                margin-left: 300px;
                color: #666666;
            }
        }
        >a {
            color: #000;
            margin-left: 45px;
            font-size: 14px;
        }
    }
    &-font {
        height: 320px;
        width: 1280px;
    }
}
.footer {
    height: 435px;
    background: #000;
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;

        &-info {
            padding: 50px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 60px;
            >ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                >li {
                    &:nth-of-type(1) {
                        >a {
                            color: #fff;
                        }
                    }
                    >a {
                        color: #666666;
                        transition: .3s ease-in-out;
                        &:hover {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        &-sign {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 40px;
            >p {
                &:nth-of-type(1) {
                    color: #fff;
                }
                &:nth-of-type(2) {
                    color: #666666;
                }
                &:nth-of-type(3) {
                    color: #666666;
                }
            }
            >form {
               display: flex;
                >input {
                   height: 38px;
                   width: 230px;
                   border: 2px solid #fff;
                   background: none;
                   &:nth-of-type(2) {
                        height: 38px;
                        width: 135px;
                        background: #fff;
                        color: #666666;
                        border: none;
                        transition: .3s ease-in-out;
                        &:hover {
                           background: none;
                           border: 2px solid #fff;
                           color: #fff;
                        }
                    }
                }
            }
            >div {
              display: flex;
              align-items: center;
              gap: 25px;
                i {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                  width: 30px;
                  color: #fff;
                  border: 2px solid #fff;
                  border-radius: 15px;
                }
            }
        }
    }
}