@import url(../fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}
.header {
    height: 500px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    >h1 {
        color: #fff;
        display: flex;
        font-size: 55px;
        display: flex;
        text-align: center;
    }
    >a {
        &:nth-of-type(2) {
            >button {
                height: 50px;
                width: 150px;
                background: white;
                border: none;
                border-radius: 20px;
                color: #000;
                transition: .3s ease-in-out;
                &:hover {
                    color: gray;
                    background: none;
                    border: 3px solid gray;
                }
            }
        }
        &:nth-of-type(1) {
            color: #fff;
            font-size: 35px;
        }
    }
}